# Byte-compiled / optimized / DLL files.
__pycache__/
*.py[cod]
*$py.class

# PyCharm project files.
.idea/workspace.xml

# Bazel output files.
/bazel-*

# Intermediate files created by the gitbundle tool.
/gitbundle/bazelbuild/
