@tailwind base;
@tailwind components;
@tailwind utilities;

.issue-label {
    --lightness-threshold: 0.453;
    --border-threshold: 0.96;
    --perceived-lightness: calc((var(--label-r)*0.2126 + var(--label-g)*0.7152 + var(--label-b)*0.0722)/255);
    --lightness-switch: max(0,min(calc((var(--perceived-lightness) - var(--lightness-threshold))*-1000),1));
    --border-alpha: max(0,min(calc((var(--perceived-lightness) - var(--border-threshold))*100),1));
    background: rgb(var(--label-r),var(--label-g),var(--label-b));
    color: hsl(0,0%,calc(var(--lightness-switch)*100%));
    border-color: hsla(var(--label-h),calc(var(--label-s)*1%),calc((var(--label-l) - 25)*1%),var(--border-alpha));
}